

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@0,500;0,900;1,400;1,900&display=swap');

.linkStyle {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #333; /* Cambia el color del texto del enlace */
    /* Puedes agregar más estilos según tu preferencia */
  }
  
  .linkStyle:hover {
    /* Estilos cuando el mouse pasa por encima del enlace */
    color: #555; /* Cambia el color al pasar el mouse */
    /* Puedes agregar más estilos de hover si lo deseas */
  }

 

  .Search{
    font-family:  'Montserrat', sans-serif;
    margin-top: 100px;

  }

  /* Estilos para el contenedor del card */
.card-container {
  
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 500px;
  padding: 20px;
  margin: 10px;
  width: 500px; /* Ajusta el ancho máximo según tus necesidades */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para el encabezado del card */
.card-container h6 {
  margin: 0; /* Elimina el margen predeterminado del h6 */
  font-size: 18px;
  color: #333;
}

/* Estilos para el ícono dentro del card */
.card-container svg {
  fill: #29bf8b; /* Color del ícono */
  margin-right: 5px; /* Espacio entre el ícono y el texto */
}

/* Estilos para tu clase en dispositivos móviles */
@media (max-width: 768px) {
  .Resultados {
    /* Cambia la disposición a una columna */
    display: flex;
    flex-direction: column;
    /* Puedes añadir más estilos según tus necesidades */
  }
  .card-container {
  
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 500px;
    padding: 20px;
    margin: 10px;
    width: 300px; /* Ajusta el ancho máximo según tus necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
}

