

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@0,500;0,900;1,400;1,900&display=swap');

.list {
justify-content: center;
  text-align: center; /* Centra el contenido horizontalmente */
  font-size:18vh;
}
.ImagenLogo{
  width: 31vw;
  padding: 0;
  margin: 0;
margin-right: 10%;
  height: 31vh;
}
.Carrousel{
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}



Title{
  font-family:  'Montserrat', sans-serif;
  color: black;
}
span {
  color: #29BF8B;
}

.button {
  background-color: #29BF8B;
}
@media screen and (max-width: 900px){
	.list {
   padding: 0;
   margin: 0;
    text-align: center; /* Centra el contenido horizontalmente */
    font-size:4vh;
}
.ImagenLogo{
  width: 25vw;
  padding: 0;
  margin: 0;
  height: 25vh;
}
.ImagenLogo{
  width: 31vw;
  padding: 0;
  margin: 0;
margin-right: 5%;
  height: 31vh;
}
.Carrousel{
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

}
