@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
#suenelo{
    color: #F0F0F5;
    
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: rgb(240, 240, 245);
}
.pie-pagina .grupo-1{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box h2{
    color: black;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: black;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color: #25946d;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #25946d;
 justify-content: center;
    text-align: center;
    padding: 15px 10px;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .laimagen{
        display: none;
    }
}