/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
  
}

.wrapper {
   height: 90%;
   width: 40%;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}



 img {
 width: 35%;
 height: 35%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1.3px;
  
    color: #555;
}

.wrapper .form-field input {
  
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    color: #666;
   
    /* border: 1px solid red; */
}

.wrapper .form-field {
   
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    
    background-color: #00C3B7;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 2rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media (max-width: 768px) {
    .wrapper {
      width: 60%;
    }
  }
