.slider-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    display: flex;
  }
  
  .slider-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
